@import "tailwindcss";
@import 'primeicons/primeicons.css';
@import './css/sending.css';
@import './css/loading.css';

.p-password .p-icon-field {
  width: 100% !important;
}

.p-password .p-password-input {
  width: 100% !important;
}

.p-dialog-mask {
  padding: 0.5rem;
}