@import "tailwindcss";
@import 'primeicons/primeicons.css';
@import './css/sending.css';
@import './css/loading.css';

.p-password .p-icon-field {
  width: 100% !important;
}

.p-password .p-password-input {
  width: 100% !important;
}

.fade-mask {
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
}